<div >
<div style="background-color: #0e4d92 ;color: #fff ;padding: 10px ;width: 100% ;text-align: center;font-size: 18px;"> {{data.title}}
    </div>
    <div mat-dialog-content>
            <p style="text-align:left;font-size: 16px;padding-left:5%;padding-right:5%;white-space: pre-wrap;">{{data.review}}</p>
    </div>
    <br>
    <div mat-dialog-actions style="text-align: center">
        <button mat-button (click)="onNoClick()"
        style="width:50%;background-color: #0e4d92;color:#fff;text-align: center;justify-content: center;display: flex;left: 25%;">OK</button>
        <br>
   
</div>
</div>