<div style="background-color: #007bff ;color: #fff ;padding: 10px ;width: 100% ;text-align: center;font-size: 18px">
    Please Enter the Review</div>
  <p style="text-align:center;font-size: 16px;padding-left:5%;padding-right:5%;padding-top:20px">{{data.item}}</p>
    <div mat-dialog-content>
      <form [formGroup]="review_form" class="example-form">
    
    
        <mat-form-field class="example-full-width">
          <mat-label>Enter the Username</mat-label>
          <input class="col-md-4" matInput placeholder="Enter The Username"  formControlName="username_control" [(ngModel)]="data.username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Enter the Review</mat-label>
          <input class="col-md-4" matInput placeholder="Enter The Username"  formControlName="review_control" [(ngModel)]="data.review" >
        </mat-form-field>
    
        <mat-form-field  class="example-full-width">
          <mat-label>Select the rating</mat-label>
          <select matNativeControl required formControlName="rating_control" [(ngModel)]="data.rating" class="col-md-4">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </mat-form-field>
    

    </form>
  
    </div>
    <br>
<div mat-dialog-actions style="text-align: center">
  <button mat-button (click)="onNoClick()"
    style="width:30%;background-color: #007bff;color:#fff;text-align: center;margin-right: 10px">No Thanks</button>
  <br>
  <button mat-button [mat-dialog-close]="data" style="width:10%;background-color: #007bff;color:#fff;text-align: center"
    cdkFocusInitial>Ok</button>
</div>