<div fxLayout="row"  >

        
            <br>
            <mat-card >
                 <mat-card-content > 
                      <mat-card-title>Business View </mat-card-title>
                      <br>
                      <mat-form-field [formGroup]="business_data">
                          <mat-label>Select the business</mat-label>
                          <mat-select [(ngModel)]="b_name" name="business" formControlName="b_name" (click)="selectBusiness()"  >
                              <mat-option *ngFor="let business of businesses" [value]="business.value" >
                              {{business.value}}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                      
                </mat-card-content>
                
            
            <div fxLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'" >
                <div fxLayout="column" >
                    <div fxLayout="row">
                    <mat-card class="card align-items-center" style="width: 400px;height: 90%;">
                        <mat-card-content  >
                            <mat-card-title>
                                AVERAGE CUSTOMER SATISFACTION         
                            </mat-card-title>
                            <br>
                            <!-- <mat-progress-spinner mode="determinate" [value]="satisfactionAvg">{{satisfactionAvg}}%</mat-progress-spinner> 
                            <div > </div> -->
                            <div style ="margin-left:50px">
                            <circle-progress
                                [percent]="satisfactionAvg"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="outColorAvg"
                                [innerStrokeColor]="inColorAvg"
                                [animation]="true"
                                [animationDuration]="300"
                                 ></circle-progress>
                            </div>

                        </mat-card-content>
                    </mat-card>
                    <mat-card class="card align-items-center " style="width: 400px;height: 90%">
                            <mat-card-content>
                                <mat-card-title>
                                    OVERALL CUSTOMER SATISFACTION         
                                </mat-card-title>
                                <br>
                                <div style ="margin-left:50px">
                                <circle-progress
                                [percent]="satisfaction"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="outColorCust"
                                [innerStrokeColor]="inColorCust"
                                [animation]="true"
                                [animationDuration]="300"></circle-progress>
                                </div>
                                <!-- <mat-progress-bar mode="determinate" [value]="satisfaction"
                                style="height:80px"></mat-progress-bar> 
                                <div > {{satisfaction}}% </div> -->
                            </mat-card-content>
                        </mat-card>
                    </div>
                    
                    
                        <mat-card class=" card text-center" style="width:820px;height:23%;" >
                            <mat-card-content >
                                <button mat-button (click)="getAllReviews()" class=" card  bg-warning col-5 " style="height:60px;border-radius:20px;margin:10px" >All Reviews</button>
                                
                                <button mat-button (click)="getAllPositive()" class=" card text-white bg-success col-5" style="height:60px;border-radius:20px;margin:10px">Merits</button>
                                <br>
                                <button mat-button (click)="getAllNegative()" class=" card text-white bg-danger col-5" style="height:60px;border-radius:20px;margin:10px">Concerns</button>
                                <button mat-button (click)="getTopFivePosNeg()" class=" card text-white bg-primary col-5" style="height:60px;border-radius:20px;margin:10px">Top Highlights and Issues</button>
                            
                            </mat-card-content>
                            
                        </mat-card>
                    <div fxLayout="row" fxLayoutGap="12px"  [style.width]="'850px'" >
                        <mat-card  class=" bg-primary" style="width:90%;height:100%;"
                            align-content="center">
                            <br>
                            <br>
                            <mat-card-header >
                                <div>Highlights for a given Time Frame
                                </div>
                        
                            </mat-card-header>
                            <mat-card-content>
                            <mat-form-field [formGroup]="keyword_pos_data">
                                <mat-label>Select the time frame</mat-label>
                                <mat-select [(ngModel)]="timepos" name="time_frame" formControlName="tframe_pos"  >
                                    <mat-option *ngFor="let time of time_frame" [value]="time.value" (click)="selectPosTimeFrame(time.value)">
                                        {{time.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div class ="example-card" style="height:220px;">
                                <ul class="list-group list-group-flush " *ngFor="let item of allKeywordsPosArr">
                                        <li class="list-group-item " style="color:darkblue;text-align: center" >{{item}}</li>
                                </ul>
                            </div>
                        </mat-card-content>
            
                        </mat-card>
                    
                        <mat-card  class=" bg-success" style="width:90%;height:100%;"
                            align-content="center">
                            <br>
                            <br>
                            <mat-card-header >
                                <div>Issues for a given Time Frame
                                </div>
                        
                            </mat-card-header>
                            <mat-card-content>
                                    <mat-form-field [formGroup]="keyword_neg_data">
                                            <mat-label>Select the time frame</mat-label>
                                            <mat-select [(ngModel)]="timeneg" name="time_frame" formControlName="tframe_neg" >
                                                <mat-option *ngFor="let time of time_frame" [value]="time.value" (click)="selectNegTimeFrame(time.value)">
                                                    {{time.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class ="example-card" style="height:220px;">
                                            <ul class="list-group list-group-flush example-card " *ngFor="let item of allKeywordsNegArr">
                                                    <li class="list-group-item " style="color:green;text-align: center" >{{item}}</li>
                                            </ul>
                                        </div>
                        </mat-card-content>
            
                        </mat-card>
                        
                        
                    </div>

                </div>
                <div fxLayout="column" >
                    <mat-card class="card "  >
                        <mat-card-content>
                            <mat-card-title>
                                Graph of all Reviews over time
                            </mat-card-title>
                            <br>
                            <google-chart #chart
                            [title]="title"
                            [type]="type"
                            [data]="data"
                            [columnNames]="columnNames"
                            [options]="options"
                            [width]="width"
                            [height]="height">
                            </google-chart>
                                                
                        </mat-card-content>
                    </mat-card>
                    <mat-card class="card "  >
                        <mat-card-content>
                            <mat-card-title>
                                TRENDS OBSERVED
                            </mat-card-title>
                            <br>
                        
                            <google-chart #chart
                            [title]="titleHist"
                            [type]="typeHist"
                            [data]="dataHist"
                            [columnNames]="columnNamesHist"
                            [options]="optionsHist"
                            [width]="widthHist"
                            [height]="heightHist">
                            </google-chart>
                            
                                        
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            
            <div fxLayout="row"  fxLayoutGap="12px"  [style.margin-top]="'12px'" [style.margin-right]="'12px'" [style.margin-left]="'12px'">  
                <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true" class=" card text-white bg-danger " style="width:800px;margin-left:10px;margin-top:10px;margin-bottom:10px"
                    align-content="center">
                
                    <br>
                    <br>
                    <mat-expansion-panel-header >
                        <mat-panel-title>Most Recent Positive Reviews</mat-panel-title>
                
                    </mat-expansion-panel-header>
                    <div class ="example-card" style="height:450px;">
                        <div *ngFor="let item of positiveReviews" >
                            <mat-card class="example-card " style="width:100%">
                                <mat-card-header>
                            
                                    <div mat-card-avatar class="example-header-image" style="background-image: url('{{item.logo}}')"></div>
                                    <mat-card-title>{{item.username}}</mat-card-title>
                                    <mat-card-subtitle>Rating: {{item.rating}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="white-space: pre-wrap;">{{item.review}}</p>
                                </mat-card-content>
                                
                            </mat-card>
                        </div>
                    </div>
                </mat-expansion-panel>



                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="  card text-white bg-warning " style="width:800px;"
                    align-content="center">
                    <br>
                    <br>
                    <mat-expansion-panel-header >
                        <mat-panel-title>Most Recent Negative Reviews</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class ="example-card" style="height:450px;">
                        <div *ngFor="let item of negativeReviews" > 
                            <mat-card class="example-card " style="width:100%">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image" style="background-image: url('{{item.logo}}')"></div>
                                    <mat-card-title>{{item.username}}</mat-card-title>
                                    <mat-card-subtitle>Rating: {{item.rating}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="white-space: pre-wrap;">{{item.review}}</p>
                                </mat-card-content>
                                
                            </mat-card>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        
        <div fxLayout="row" >
            <mat-card class="example-card card" style="width: 1200px;">
                <mat-card-header>
                    <mat-card-title>WHAT DO YOUR CUSTOMERS THINK ABOUT YOU?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <mat-form-field>
                            <mat-select matNativeControl required placeholder="Select Positive/Negative Cloud" [(value)]="selected">
                                <mat-option value="positive_cloud" (click) = "wordCloudPos()" selected>Positive Cloud</mat-option>
                                <mat-option value="negative_cloud" (click) = "wordCloudNeg()">Negative Cloud</mat-option>
                            </mat-select>
                        </mat-form-field>
                       
                    <!-- <div AgWordCloud 
                    #word_cloud_chart=ag-word-cloud 
                    [wordData]="wordDataPos"
                    [options]="options">
                    </div> -->
                    <div>
                        <angular-tag-cloud
                            [data]="wordDataPos"
                            [width]="optionsCloud.width"
                            [height]="optionsCloud.height"
                            [overflow]="optionsCloud.overflow">
                        </angular-tag-cloud>
                    </div>
                </mat-card-content>
                
            </mat-card>

            <mat-card style="width:400px;color:#ffffff" class="example-card card bg-primary">
                <mat-card-header>
                    <mat-card-title>SUMMARY</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        {{summary}}
                    </div>
                </mat-card-content>
            </mat-card>
            </div>
            <mat-card  class="example-card card  bg-warning  " >
                <mat-card-header>
                    <mat-card-title>SELECT DATES TO SEE REVIEWS IN THE FOLLOWING PERIOD</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <div [formGroup]="date_data" class="example-full-width">
                        <mat-form-field class="col-3">
                            <input matInput [min]="minDate1" [max]="maxDate1" [matDatepicker]="picker1"
                            placeholder="Select a Date" formControlName="date1" (dateInput)="getDate('date1', $event)" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                                
                        <mat-form-field class="col-3">
                            <input matInput [matDatepicker]="picker2" placeholder="Select a Date"
                            formControlName="date2" [min]="minDate2" [max]="maxDate2" (dateInput)="getDate('date2', $event)" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        
                        <button mat-button (click)="getAllReviewsIntervals()" class=" card form-control col-1 " style="height:60px;border-radius:20px;">View Reviews</button>
                        
                                
                    </div>
                    <div *ngFor="let item of reviewInterval" > 
                            <mat-card class="example-card " style="width:100%;margin-right:24px">
                                <mat-card-header>
                                    <div mat-card-avatar class="example-header-image" ></div>
                                    <mat-card-title>{{item.username}}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p style="white-space: pre-wrap;">{{item.review}}</p>
                                </mat-card-content>
                                
                            </mat-card>
                    </div>
                    
                </mat-card-content>
            </mat-card>
           
            
            
            <mat-card class="card " style="height:500px" >
                    <mat-card-content>
                        <mat-card-title>
                            MEET YOUR FOCUS POINTS
                        </mat-card-title>
                        <br>
                        <div fxLayout="row">
                            <mat-card class="card" style="width:800px;height:370px; vertical-align: middle;">
                                <div class="container" style="height:90%;background-color:white;width:90%;margin-top:2%;margin-bottom:1%;margin-left:5%;margin-right:5%">
                                    <div *ngFor="let keyword of dataItems" class="row" >
                                        <div style="margin-top:10%">
                                            <button mat-raised-button color="accent" (click)="getSatisfaction(keyword)" style="border-radius: 10px;width:200px;">{{keyword}}</button>
                                        </div>
                                    </div>
                                </div>
                            
                            </mat-card>
                            <div >
                                <div style="height:350px;margin-left:30%" fxLayout="row" >
                                    <!-- <mat-progress-bar class="progress vertical progress-bar-success bg-success" mode="determinate" [value]="satisfactionKeyword" [color]="accent"
                                        style="height:200px;width:350px;"></mat-progress-bar> 
                                    <div > {{satisfactionKeyword}}% liked this attribute</div> -->
                                    <circle-progress
                                        [percent]="satisfactionKeyword"
                                        [radius]="160"
                                        [outerStrokeWidth]="26"
                                        [innerStrokeWidth]="8"
                                        [outerStrokeColor]="outColor"
                                        [innerStrokeColor]="inColor"
                                        [subtitle]="subtitle"
                                        [animation]="true"
                                        [animationDuration]="300"></circle-progress>

                                </div>
                            </div>
                        </div>                  
                    </mat-card-content>
                </mat-card> 
                

        </mat-card>
</div>
      
      