<mat-card>
  <mat-card-content>    
  <mat-card-title>End-User View</mat-card-title>
      <div mat-dialog-content> 
      <form>
          <mat-card style="width:1000px">
            <mat-card-content style="padding:40px;"> 
                <mat-card-title>Select the Domain</mat-card-title>
                <mat-grid-list cols="4" rowHeight="100px">
                  <mat-grid-tile
                      *ngFor="let tile of tiles"
                      [colspan]="tile.cols"
                      [rowspan]="tile.rows"
                      [style.background]="tile.color"
                      (click) ="selected(tile.text)"
                      style="padding:10px;margin:20px;border-radius: 20px">
                    {{tile.text}}
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
            <mat-card style="width:1000px">
              <mat-card-content style="padding:40px;"> 
                <mat-card-title>Select the Item</mat-card-title>
                <mat-grid-list cols="4" rowHeight="100px">
                  <mat-grid-tile
                      *ngFor="let option of dataItem"
                      [colspan]="option.cols"
                      [rowspan]="option.rows"
                      [style.background]="option.color"
                      (click)="writeReview(option.text)"
                      style="padding:10px;margin-right:20px;border-radius: 20px"
                      >
                    {{option.text}}
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card-content>
            </mat-card>
        </form>
        <div class="col-md-4"  *ngIf="review" style="font-size: 16px;position:relative;display: inline-block;box-sizing: border-box;font-size: 16px;height:35px;right:20px;padding:10px">{{result}}
        </div> 
      </div>
  </mat-card-content>
</mat-card>
