.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button{
  width:200px;
  background-color: #78C000;
  color:#fff;
  text-align: center;
  margin-right: 12px;
}
.errorButton{
  width:200px;
  background-color: grey;
  color:#fff;
  text-align: center;
  margin-right: 12px;
}
sup{
 color:red
}
.textBoxClass
{
  width:400px;
  align-content: center;
}
.headerCard
{
  background-color: #78C000 ;
  color: #fff ;
  padding: 30px ;
  width: 100% ;
  text-align: center;
  font-size: 22px
}
.icon{
  font-size:30px;
  margin-right:7px;
}