<mat-card style="top:60px;width:98%;height:900px;;background-color:#78C000;">
  <mat-card-content style="padding:40px;border-radius:60px"> 
      
    <div class="example-container card text-center" style="border-radius:80px;margin-left:10%;margin-right:10%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 10px 20px 0 rgba(0.5, 0.5, 0.5, 0.5);">
      <mat-card style="width:97%;align-content: center;height:750px;padding:30%;border-radius: 70px;" class="card align-items-center">
        <mat-card-content style="top:30%;bottom:30%;height:100%;background:#78C000;border-radius:70px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.0), 0 10px 20px 0 rgba(0.5, 0.5, 0.5, 0.5);">
      
            <p style="font-size:60px;color:#fff;padding-top:20%"> Thank you for your Feedback!!!! <mat-icon style ="font-size:60px;color:#fff;">tag_faces</mat-icon></p>
            <br>
            <br>
            <br>
            <br>
              <button mat-raised-button class="button" (click)="goBack()">Back</button>

        </mat-card-content>
       
      </mat-card>
      
    </div> 
    
  </mat-card-content>
</mat-card>

  